
* {
  box-sizing: border-box;
}


/* Body */

body {
  font-family: Montserrat;
  color: #2c3e50;
  
  width: 99%;
}


/* Navigation Bar */

.navbar {
  background-color: #2c3e50;
  position: fixed;
  top: 0;
  width: 99%;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Mukta', sans-serif;
 
}

.navbar li {
  display: inline-block;
  padding: 2px 20px;
}

.navbar a {
  text-decoration: none;
  color: White;
}

#navigate {
   padding: 2px 35px;
}


/* Header */

.header {
  text-align: center;
  background-color: White;
  height: 600px;
  padding-top: 120px;
  padding-bottom:120px;
  margin-top: 70px;
}

.title {
  font-weight: bold;
  font-family: Montserrat;
}

.profile {
  height: 150px;
  width: 150px;
  border-radius: 50%;

}

h1 {
  color: #2c3e50;
  font-size: 40px;
  font-family: 'Mukta', sans-serif;
  font-weight: normal;
  line-height: 1.8;
  
}

.about-me, nav {
  color: #2c3e50;
  font-family: Montserrat;
  line-height: 1.8;
  font-weight: normal;
  font-size: 17px
}

/* About Me Section */

#aboutme {
  padding: 5px 50px;
  background-color: #F8F8F8;
}


/* Project Section */

.proj-section {
  padding: 5px 50px;
  background-color: White;

}

/* Gallery */

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.gallery-item {
  margin: 5px;
}

.gallery-item .thumbnail {
  width: 320px;
  
}


/* Footer */

.footer {
  background-color: #2c3e50;
  width: 100%;
  padding: 15px 50px;
  color: White;
  font-family: Montserrat;
}

.footer a {
    text-decoration: none;
    color: White;

}

#lpro li {
   display: inline-block;
   list-style-type: none;
   padding: 2px 15px 2px 0px;
}

ul {
   padding: 0px 0px 0px 0px;
}

#social_me {
height: 30px;
}