
* {
  box-sizing: border-box;
}


/* Body */
body {
  font-family: Montserrat;
  color: #2c3e50;
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

}


/* Navigation Bar */
.navbar {
  background-color: #2c3e50;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  font-family: Mukta, sans-serif;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  z-index: 1;
}

.navbar li {
  display: inline-block;
  padding: 0px 15px;
}

.navbar a {
  text-decoration: none;
  color: #D2B48C;
}

a:hover {
  color: White;
}

#socialitem {
  color:#D2B48C
}

#navigate {
   padding: 0px;
   padding-right: 5px;
   padding-left: 35px;

}

#social-icons {
   position: abosulute;
   display: inline-block;
   padding: 14px;
   padding-left: 5px;
   padding-right: 50px;
}

#socialitem {
   padding-left: 30px;
}

#mobile-nav {
  position: fixed;
  width: 100%;
  background-color: #2c3e50;
  display: flex;
  justify-content: space-between;
}

/* Dropdown Button */
.dropbtn {
  background-color: #2c3e50;
  color: #D2B48C;
  padding: 14px;
  font-size: 16px;
  border: none;
  cursor: pointer;


}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus, {
  background-color: #D2B48C;
  color: #2c3e50;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


/* Header */
.header {
  text-align: center;
  background-color: White;
  height: 600px;
  padding-top: 120px;
  padding-bottom:120px;
  margin-top: 50px;
}

.title {
  font-weight: bold;
  font-family: Montserrat;
}

.profile {
  height: 150px;
  width: 150px;
  border-radius: 50%;

}

h1 {
  color: #2c3e50;
  font-size: 40px;
  font-family: Mukta, sans-serif;
  font-weight: 200;
  line-height: 1.8;
  padding-left: 7px;
  padding-right: 7px;
}

.about-me, nav {
  color: #2c3e50;
  font-family: Montserrat;
  line-height: 1.8;
  font-weight: normal;
  font-size: 17px
}


/* About Me Section */
#aboutme {
  padding: 65px 50px;
  background-color: #F8F8F8;

}

#aboutpar {
  max-width: 960px;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-family: "PT Serif";

}

/* Project Section */
.proj-section {
  padding: 65px 50px;
  /*background-color: #D2B48C;*/
  background-color: #d2b48c;
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");

}

.row {
  margin: 8px -16px;

}

/* Add padding BETWEEN each column (if you want) */
.row,
.row, .column {
  padding: 4px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;

}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: ;
  padding: 10px;
}


/*For Laptop and Tablet Devices > 601px */
@media screen and (min-width: 601px) {

  .footer {
    padding: 50px 50px 5px 50px;
  }

  .column {
    width: 50%;
  }


}

/*For Mobile Devices < 600px */
@media screen and (max-width: 600px) {
  .profile {
    height: 100px;
    width: 100px;
  }
  .proj-section, #aboutme {
    padding: 40px 5px 50px 5px;
  }

  .footer {
    padding: 40px 10px 5px 10px;
  }

  .footer {
      padding: 40px 5px 1px 5px;
  }

  #social-icons {
    padding: 14px 15px 14px 5px;
  }

  #aboutpar {
    font-size: 1.1em;
  }

  .about-me {
    font-size: 14px;
  }

  h1 {
    font-size: 35px;
  }

  .section-title {
    text-align: center;
    font-size: 22px;
  }

  .navbar {
    display: none;
  }

  .column {
    width: 100%;
  }

}


/* Footer */
.footer {
  background-color: #2c3e50;
  width: 100%;
  color: White;
}

h6 {
  font-weight: lighter;
  text-align: center;
}

/*Form Section*/
.form-container {
  border-radius: 5px;
    color: #d2b48c;


}

input[type=text], input[type=number], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc; /
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #F8F8F8;

}

/* Submit Button for Form */
input[type=submit] {
  background-color: #d2b48c;
  color: #2c3e50;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #bc9055;
}
